@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,800;1,400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
    background-image:linear-gradient(to left,#FFF687,#F6416C);
}
.om{
    font-size: 13px;
    font-weight:600 ;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}
p{
    margin-left: 13px;
    margin-right: auto;
}
.input{
   
    max-width: 330px;

    height:575px; 

    margin:auto;

    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.9);

    margin-top:30px;

    padding:20px; 

    padding:40px 20px 40px 20px;

    background-color: white;
}
.input1{

    margin-left: 5px;
    margin-right: 5px;
    display:block;
    padding:10px;
    padding-right:50px;
    font-weight: 600;
}
.input2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:5px;
    margin-right:3px;
    display:block;
    padding: 10px;
    font-weight: 600;
}
.input3{
    margin: auto;
    padding: 10px;
    display: block;
    font-weight: 600;
}
.input4{
    margin:auto;
    padding: 10px;
    display:block;
    font-weight: 600;
}
.input5{
    margin-right:100%;
    padding:10px;
    display:block;
    font-weight: 600;
}
.lol{
    text-decoration: none;
    font-size: smaller;
    margin: auto;
    color:blue;
    font-weight: 600;
    
} 
.lol:hover{
    color:orangered;
}
.input7{
margin:auto;
font-size:13px;
font-weight: 600;
}
.input6{
 width:100px;
 height:25px;
 margin-top: 11px;
 color: white;
 background-image:linear-gradient(to right,#FFF687,#F6416C);
 border:none;
 box-shadow:2px 2px 10px rgba(233, 79, 79, 0.9);
 margin-left: 25px;
 }
.input10{
    border:none;
    width:100px;
    height:25px;
    margin-left:25px;
    color: white;
    background-image:linear-gradient(to right,#FFF687,#F6416C);
    box-shadow:2px 2px 10px rgba(233, 79, 79, 0.9);
}


